<div class="nav-bar" [ngClass]="{'hide-menu': hideMenu}">
  <div class="nav-bar__container" [ngClass]="{'nav-bar__container--hidden': hideMenu}">
    <div id="navbar" class="nav-bar__elements">
      <mg-navbar-elem-admin label="Locations" route="locations"></mg-navbar-elem-admin>
      <mg-navbar-elem-admin label="Locations" route="locations"></mg-navbar-elem-admin>
      <mg-navbar-elem-admin label="Locations" route="locations"></mg-navbar-elem-admin>
      <mg-navbar-elem-admin label="Locations" route="locations"></mg-navbar-elem-admin>
      <mg-navbar-elem-admin label="Locations" route="locations"></mg-navbar-elem-admin>
    </div>
  </div>
</div>
