@import "../../../styles";

.nav-bar {
  display: flex;
  width: rem-calc(250);
  height: 100%;
  background-color: $dark-background;
  padding: rem-calc(30 0);
  min-height: 100vh;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  &__container {
    display: flex;
    position: fixed;
    top: rem-calc(100);
    left: rem-calc(35);
    flex-flow: column nowrap;
    height: calc(100vh - 100px);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    overflow: auto;
    &--hidden {
      display: none;
    }
  }
  &__elements {
    flex:3;
  }
  &__user {
    position: relative;
    display: flex;
    flex-grow: 1;
    margin-bottom: rem-calc(30);
    align-items: center;
    color: #191919;
    text-decoration: none;
    &__icon {
      background-color: $background-secondary-color;
      padding: rem-calc(5);
      margin: rem-calc(5);
      border-radius: 50%;
    }
    &__container {
      display: flex;
      align-items: center;
    }
    &--active {
      .nav-bar__user__container {
        color: $text-secondary-color;
      }
    }
    &:hover {
      color: $text-secondary-color;
    }
  }
}

.hide-menu {
  width: 0px;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
