<div class="top-bar" [ngClass]="{'hide-menu': hideMenu}">
  <div class="top-bar__container">
    <div class="top-bar__menu" (click)="toggleMenu()" [ngClass]="{'top-bar__menu--active': hideMenu}"><i class="material-icons">menu</i></div>
    <a class="top-bar__home" [routerLink]="'/admin-panel/main'">
      <img class="top-bar__home__logo" src="assets/img/midgard-admin-logo.svg">
      <!--<div>{{appTitle}}</div>-->
    </a>
    <div class="top-bar__logout">
      <img class="top-bar__logout__icon" (click)="logOut()" src="assets/img/logout-icon.svg"/>
    </div>
  </div>
</div>
