@import "../../../../src/styles";

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  &__card {
    &__logo {
      display: block;
      width: rem-calc(80);
      margin: rem-calc(30 auto);
    }
    &__content {
      width: 100%;
      min-width: rem-calc(300);
    }
  }

  &__register-link {
    text-decoration: none;
    color: black;
    &:hover {
      color: $gray-light;
    }
  }
  &__form {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__error {
      color: $danger-color;
      margin: rem-calc(15);
    }
    &__field {
      margin-bottom: rem-calc(15);
      &--full-width {
        width: 100%;
      }
    }
  }
}
