// Color Palette
$white: #fff;
$black: #000;

$orange: #FFA21D;
$green: #34bfa3;
$dark-blue: #404F5E;
$blue: #36a3f7;
$red: #f4516c;
$yellow: #ffc300;

// Gray Scale
$gray-dark: #222;
$gray: #333333;
$gray-medium-dark: #706e6b;
$gray-medium: #8B8D9B;
$gray-light: #9B9B9B;
$gray-lighter: #dfdfdf;
$gray-very-light: #F5F5F5;
$gray-very-lighter: #ececec;

// Color Varations
$orange-very-dark: #F5A623;
$orange-darker: #E8A81F;
$orange-lighter: #FFBE36;
$orange-very-light: #FFF4E5;
$dark-blue-darker: #3B4856;
$dark-blue-medium-darker: #41505F;
$dark-blue-lighter: #515F6C;
$green-darker: #30AE95;
$green-lighter: #46C4AB;
$blue-very-dark : #285E87;
$blue-darker: #3295E1;
$blue-darkest: #123946;
$blue-lighter: #48ABF7;
$blue-very-light: #f4fbfe;
$red-darker: #DE4A63;
$red-lighter: #F56079;
$red-very-light: #FFDDD8;
$yellow-darker: #E8B200;
$yellow-lighter: #FFCD2E;
$yellow-very-light: #F1EEE8;
$black-very-light: #2b2826;
/* grayscale alias */

$color-black: rgba(0, 0, 0, 1) !default;
$color-white: rgba(255, 255, 255, 1) !default;
$color-gray: rgba(0, 0, 0, 0.15) !default;
/* brand palette colors */

$color-blue: rgba(27, 81, 160, 1) !default;
$color-green: rgba(18, 182, 60, 1) !default;
$color-red: rgba(219, 0, 0, 1) !default;
$color-yellow: rgba(249, 148, 0, 1) !default;
/* brand theme lighter hues */

$color-black-15: rgba(0, 0, 0, 0.15);
$color-black-20: rgba(0, 0, 0, 0.2);
$color-black-60: rgba(0, 0, 0, 0.6);
$color-black-80: rgba(0, 0, 0, 0.8);
$color-gray-light: #f2f2f2;
$color-gray-dark: #333;
/* brand theme colors */

$color-blue-light: #7596c5;
$color-red-light: #e96565;
$color-yellow-light: #fff5e6;
$color-green-light: #edfff2;
$color-red-lightest: #fff2f2;
$color-blue-lightest: #dce8f9;
$color-blue-lightest-alt: #ebf2fc;
/* opaques */

$color-blue-opaque: rgba(220, 232, 249, 1) !default;
$color-red-opaque: rgba(219, 0, 0, 0.6) !default;
/* typography colors */

$color-text: $color-black !default;
$color-text--body: rgba(51, 51, 51, 1) !default;
$color-text--caption: rgba(102, 102, 102, 1) !default;
$color-text--disabled: rgba(178, 178, 178, 1) !default;
$color-text--link: $color-blue !default;

// Bootstrap Defaults Variables
$color-primary: $orange;
$color-secondary: $gray-medium;
$color-success: $green;
$color-info: $blue;
$color-warning: $yellow;
$color-danger: $red ;
$color-light: $gray-very-light;
$color-dark: $gray;

// Component Colors
$body-bg-color: $gray-very-light;
$navbar-bg: $gray-very-light;
$navbar-brand-bg: $orange;
$sidebar-bg: $dark-blue;
$sidebar-color: #EAECED;
$hor-menu-bg: $dark-blue;
$hor-menu-color: $white;
$top-header-bg: $white;
$top-header-color: $dark-blue;
$border-color-default: $gray-very-light;
$radius-default: 3px;
$card-headings: $white;

$container-fluid-max-width: rem-calc(1440);

// Margins
$global-margin: rem-calc(28);
$global-padding: rem-calc(28);
$spacing: rem-calc(15);

// Progress bars
$progress-bg:                   white !default;
$progress-bar-bg:               $dark-blue-darker !default;

$defaultTransition: all .2s;


// Kupfer variables TO BE DELETED ONCE WE HAVE FREJYA

// Color Palette
$orange: #FFA21D;
$green: #0C9E5D;
$dark-blue: #41505F;
$blue: #36A2F7;
$red: #DC342D;
$yellow: #ffc300;


// Gray Scale
$gray-dark: #222;
$gray: #333333;
$gray-medium-dark: #706e6b;
$gray-medium: #8B8D9B;
$gray-light: #9B9B9B;
$gray-lighter: #dfdfdf;
$gray-very-light: #F5F5F5;

// Bootstrap Defaults Variables
$primary: $orange;
$color-primary: $orange;
$color-secondary: $gray-medium;
$color-success: $green;
$color-info: $blue;
$color-warning: $yellow;
$color-danger: $red ;
$color-light: $gray-light;
$color-dark: $gray-dark;

// Component Colors
$body-bg-color: $gray-very-light;
$navbar-bg: $gray-very-light;
$navbar-brand-bg: $orange;
$sidebar-bg: $dark-blue;
$sidebar-color: $white;
$hor-menu-bg: $dark-blue;
$hor-menu-color: $white;
$top-header-bg: $dark-blue;
$top-header-color: rgba($white, .6);

// Progress bars
$progress-bg: white !default;
$progress-bar-bg: $dark-blue-darker !default;


// Color Varations
$orange-darker: #D18518;
$orange-lighter: #FFAB41;
$orange-very-light: #FFF4E5;

$navy-darker: #0B607D;
$navy-lighter: #0B607D;

$dark-blue-darker : #074054;
$dark-blue-lighter : #576471;

$blue-lighter: #3DBEE9;
$blue-very-light: #f4fbfe;

$green-darker: #0A7F4B;
$green-lighter: #0EBD6F;

$red-darker: #BD2D27;
$red-lighter: #FB3B33;
$red-very-light: #FFDDD8;

$yellow-darker: #E8B200;
$yellow-lighter: #FFCD2E;

