<div class="endpoint-detail">
  <div class="endpoint-detail__container">
    <div *ngIf="operations?.length === 0">
      No available Http operations on this endpoint
    </div>
    <div class="endpoint-detail__entries" *ngIf="operations?.length > 0">
      <div class="endpoint-detail__entries__heading">
        <h3>{{endpoint}}</h3>
        <fj-button
          (click)="onButtonClicked(view)"
          [shape]="'rounded'"
          [size]="'small'"
          [iconMargin]="'0px 5px 0px 0px'"
          [margin]="'0px 5px'"
          [iconPosition]="'before'"
          [icon]="'plus'"
        >
          New Entry
        </fj-button>
        <div class="endpoint-detail__search-container">
          <fj-text-input theme="dark" [customStyles]="{'width': '350px'}" [placeholder]="'Search...'"> </fj-text-input>
        </div>
      </div>
      <div class="endpoint-detail__entries__table">
        <fj-table
          [rows]= "rows"
          [columns]="tableOptions.columns"
          [viewPort]="'350px'"r
        ></fj-table>
      </div>
    </div>
    <div class="endpoint-detail__operations" *ngIf="operations?.length > 0">
        <h3>Endpoints</h3>
        <div *ngFor="let operation of operations">
          <div class="endpoint-detail__operations__endpoint" >
            <h5 class="endpoint-detail__operations__endpoint__text" title="{{operation[0]}}">{{operation[0]}}</h5>
            <input type="text" value="{{operation[0]}}" hidden>
            <img class="endpoint-detail__operations__endpoint__icon" (click)="copyEndpoint(operation[0])" src="assets/img/copy-icon.svg"/>
          </div>
          <div class="endpoint-detail__operations__container">
            <div *ngFor="let verb of operation[1]" class="endpoint-detail__operations__item endpoint-detail__operations__item--{{verb}}">
              <div class="endpoint-detail__operations__item__verb endpoint-detail__operations__item__verb--{{verb}}">{{verb}}</div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
