@import "../../../../../src/styles";

.navbar-elem {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 15px;
  color: $text-primary-color;
  text-decoration: none;
  cursor: pointer;
  &__icon{
    margin-right: rem-calc(5);
    font-size: 20px !important;
  }
  &:hover {
    color: $text-secondary-color;
  }
  &--active {
    background-color: $background-secondary-color;
    color: $text-secondary-color;
  }
}
