@import "../../../styles";

.top-bar {
  position: fixed;
  display: flex;
  height: rem-calc(60);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $dark-top-bar-color;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &__container {
    width: 100% ;
    display: flex;
    align-items: center;
    margin-left: rem-calc(30);
  }
  &__menu {
    position: absolute;
    top: rem-calc(15);
    padding: rem-calc(2);
    font-size: 4px;
    border-radius: 4px;
    color: $dark-text-color;
    cursor: pointer;
    &--active {
      background-color: $primary-color;
      color: white;
    }
  }
  &__home {
    display: flex;
    align-items: center;
    margin-left: rem-calc(40);
    width: rem-calc(149);
    color: black !important;
    cursor: pointer;
    text-decoration: none;
    &__logo {
      margin-right: 5px;
      width: rem-calc(160);
    }
  }

  &__subnav {
    min-width: rem-calc(320);
    flex: 2;
  }

  &__search {
    display: flex;
    align-items: center;
    margin-right: rem-calc(40);
  }
}

.hide-menu {
  position: unset;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
