<div class="nav-bar" id="exitPointComponent" [ngClass]="{'hide-menu': hideMenu}">
  <div class="nav-bar__container" [ngClass]="{'nav-bar__container--hidden': hideMenu}">
    <div id="navbar" class="nav-bar__elements"></div>
    <a class="nav-bar__user" (click)="setTopBarOptions()" routerLink="/user" routerLinkActive="nav-bar__user--active">
      <div class="nav-bar__user__container p2">
        <i class="material-icons nav-bar__user__icon">person</i>
        <span class="nav-bar__user__name">
        {{(currentUser | async)?.data?.first_name}} {{(currentUser | async)?.data?.last_name}}
      </span>
      </div>
    </a>
  </div>
</div>