<div class="nav-bar" id="exitPointComponent" [ngClass]="{'hide-menu': hideMenu}">
  <div class="nav-bar__container" [ngClass]="{'nav-bar__container--hidden': hideMenu}">
    <div id="navbar" class="nav-bar__elements">
      <mg-navbar-elem label="Dashboards" route="dashboards" icon="dashboard"></mg-navbar-elem>
      <mg-navbar-elem label="Products" route="products" icon="vertical_split"></mg-navbar-elem>
      <mg-navbar-elem label="Contacts" route="contacts" icon="supervisor_account"></mg-navbar-elem>
      <mg-navbar-elem label="Documents" route="documents" icon="book"></mg-navbar-elem>
        <mg-navbar-elem label="Forms" route="forms" icon="assignment"></mg-navbar-elem></div>
    <a class="nav-bar__user" (click)="goToAdmin()" routerLinkActive="nav-bar__user--active">
      <i class="material-icons nav-bar__user__icon">person</i>
      <span class="nav-bar__user__name">
        {{(currentUser | async)?.data?.first_name}} {{(currentUser | async)?.data?.last_name}}
      </span>
    </a>
  </div>
</div>