@import "../../src/styles";

.midgard{
  &__container {
    display: flex;
    margin-right: 15px;
  }
  &__wrapper {
    width: calc(100vw - 280px);
    margin-top: 30px;
    padding: 30px;
    &--full-width {
      width: 100%;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;
    }
  }
}
