@import "../../../../src/styles/global";

.card-item {
  width: 100%;
  background-color: transparent;
  &--tile {
    display: flex;
    margin-bottom: rem-calc(60);
    flex-direction: row;
  }
  &__content {
    box-shadow: 0 rem-calc(2) rem-calc(3) 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    &--tile {
      flex-direction: column;
      width: rem-calc(250);
      &--expanded {
        width: 70vw;
      }
    }
    &--list {
      flex-direction: row;
    }
    &--table {
      flex-direction: row;
      border-bottom: 1px solid #ececec;
    }
    &--highlight {
      background-color: $gray-light;
    }
  }
  &__header {
    display: flex;
    cursor: pointer;
    &--tile {
      padding: rem-calc(0 15 15 15);
      display: flex;
      flex-direction: column ;
    }
    &--list {
      padding: rem-calc(15);
      display: flex;
      flex-direction: row;
    }
    &--table {
      padding: rem-calc(15);
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__body {
    padding: rem-calc(5 5 5 15);
    display: flex;
    flex-direction: column ;
    &--tile {
    }
    &--list {
    }
    &__date {
      margin-bottom: rem-calc(15);
    }
    &__details {
      display: flex;
      margin-bottom: rem-calc(15);
      &__item {
        flex: 1;
      }
    }
    &__description {
      margin-bottom: rem-calc(15);
    }
    &__tags {
      margin-bottom: rem-calc(15);
      &__text {
        color: $primary-color;
      }
    }
  }
  &__divider {
    height: rem-calc(2);
    background-color: $gray-lighter;
  }
  &__below-menu {
    position: relative;
    display: flex;
    align-items: center ;
    justify-content: center;
    height: rem-calc(15);
    width: auto;
    z-index: 2;
    cursor: pointer;
    &--table {
      height: 0.00rem;
    }
    &--tile {
      height: unset;
      width: rem-calc(15);
      display: flex;
      flex-direction: column;
    }
    &:hover {
      background-color: $primary-color-lightest;
    }
  }
  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color-lightest;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    &--tile {
      height: rem-calc(220);
      margin: rem-calc(0 -15 0 -15);
    }
    &--list {
      width: rem-calc(100);
      height: rem-calc(100);
      margin-right: rem-calc(15);
      border-radius: 50% 50%;
    }
    &--table {
      width: rem-calc(25);
      height: rem-calc(25);
      margin-right: rem-calc(15);
      border-radius: 50% 50%;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__title {
    &__container {
      flex: 4;
      &--tile {
        margin-top: rem-calc(15);
        max-width: rem-calc(300);
      }
      &--list {
        max-height: rem-calc(100);
        margin-right: rem-calc(30);
      }
      &--table {
        display: flex;
        margin-right: rem-calc(30);
      }
    }
    &__heading {
      cursor: pointer;
      margin-top: 0;
    }
    &__subtext {
      & > p {
        cursor: pointer;
      }
      &--table {
        display: flex;
        flex-grow:3;
        justify-content: space-around;
      }
    }
  }

  &__right {
    &__container {
      flex: 1;
      margin-right: rem-calc(30);
      display: flex;
      flex-direction: column;
      &--tile {
        min-height: 0;
        margin-bottom: rem-calc(15);
      }
      &--table {
        justify-content: space-between;
        flex-direction: row;
      }
    }
    &__caption {
      font-size: 16px;
      color: $text-caption;
    }
    &__link {
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      color: $primary-color;
    }
    &__date {
      padding: rem-calc(5) 0;
    }
  }

  &__actions {
    &__container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      &--table {
        align-items: unset;
      }
    }
    &__item {
      margin-right: rem-calc(5);
      margin-bottom: rem-calc(5);
      &--table {
        margin-bottom: rem-calc(0);

      }
    }
  }
  &__field-wrapper {
    padding: rem-calc(5) 0 ;
  }
}

.caption-text {
  color: $text-caption;
  font-size: rem-calc(10);
}
