@import "../../../../src/styles";

.top-bar {
  position: fixed;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $background-primary-color;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &__container {
    width: 100% ;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  &__menu {
    position: absolute;
    top: 15px;
    padding: 4px;
    font-size: 4px;
    border-radius: 4px;
    color: $text-primary-color;
    cursor: pointer;
    &--active {
      background-color: $primary-color;
      color: white;
    }
  }
  &__home {
    display: flex;
    align-items: center;
    margin-left: 40px;
    min-width: 149px;
    color: black !important;
    cursor: pointer;
    text-decoration: none;
    &__logo {
      margin-right: 5px;
      fill: red;
      height: 30px;
      width: 30px;
    }
  }

  &__subnav {
    min-width: 320px;
    flex: 2;
  }

  &__search {
    display: flex;
    align-items: center;
    margin-right: 40px;
    &__button {
    }
  }
}

.hide-menu {
  position: unset;
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
