<div class="container">
  <fj-card>
    <img class="login__card__logo" src="assets/midgard-logo.svg">
    <div class="login__card__content">
      <form class="login__form" [formGroup]="loginForm" novalidate (submit)="authenticate()">
        <div class="login__form__field login__form__field--full-width">
          <fj-text-input [customStyles]="{'width': '100%'}" [error]="errors.username" [label]="'Username*'" [controlName]="'username'" [formGroup]="loginForm" [placeholder]="'Username'"> </fj-text-input>
        </div>
        <div class="login__form__field login__form__field--full-width">
          <fj-text-input [customStyles]="{'width': '100%'}" [error]="errors.password" [label]="'Password*'" [type]="'password'" [controlName]="'password'" [formGroup]="loginForm" [placeholder]="'Password'"> </fj-text-input>
        </div>
        <div class="login__form__field">
          <fj-button [type]="'submit'" [disabled]="!loginForm.valid">Login</fj-button>
        </div>
      </form>
      <span *ngIf="error">{{this.error}}</span>
    </div>
    <small><a class="login__register-link" routerLink="/register">Register</a></small>
  </fj-card>
</div>
