@import "../../../../styles";

.table {
  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-lighter;
    height: rem-calc(40);
    width: rem-calc(40);
    border-radius: 50%;
    margin-right: rem-calc(10);
  }
  &__text {
    color: $text-primary-color
  }
}
