<fj-table
  mgCrud
  #crud="mgCrud"
  [rows]= "crud.rows"
  [viewPort]="'350px'"
  [loadAction]="'LOAD_DATA_COREUSER'"
  [loadedSelector]="loadedSelector"
  [dataSelector]="dataSelector"
  [deleteAction]="'DELETE_COREUSER'"
  [deleteMessage]="'The user has been deactivated'"
>
  <fj-table-custom-column name="Custom" sortable="true" index="0" prop="first_name" flex="2">
    <ng-template fj-table-header-template>
      <p>Full name</p>
    </ng-template>
    <ng-template let-row="row" fj-table-cell-template>
      <div class="table__picture"
           (click)="file.click()"
      >
        <fj-icon [svgName]="'upload'" [width]="'25px'"></fj-icon>
      </div>
      <input type="file" accept="image/*" hidden #file>
      <fj-inline-text-editor
        [displayElementCustomStyles]="{color: 'black', fontWeight: '700', marginRight: '5px'}"
        [value]="row['first_name']"
        name="email"
      >
      </fj-inline-text-editor>
      <fj-inline-text-editor
        [displayElementCustomStyles]="{color: 'black', fontWeight: '700'}"
        [value]="row['last_name']"
        name="email"
      >
      </fj-inline-text-editor>
    </ng-template>
  </fj-table-custom-column>
  <fj-table-custom-column name="Custom" sortable="true" index="1" prop="email" flex="2">
    <ng-template fj-table-header-template>
      <p>Email</p>
    </ng-template>
    <ng-template let-row="row" fj-table-cell-template>
      <fj-inline-text-editor
        [displayElementCustomStyles]="{color: 'black'}"
        [value]="row['email']"
        name="email"
      >
      </fj-inline-text-editor>
    </ng-template>
  </fj-table-custom-column>
  <fj-table-custom-column name="Custom" sortable="true" index="2" prop="activity" flex="2">
    <ng-template fj-table-header-template>
      <p>Last Activity</p>
    </ng-template>
    <ng-template let-row="row" fj-table-cell-template>
      <small>Today</small>
    </ng-template>
  </fj-table-custom-column>
  <fj-table-custom-column name="Custom" index="3" flex="4">
    <ng-template fj-table-header-template>
      <p>Permissions</p>
    </ng-template>
    <ng-template let-row="row" fj-table-cell-template>
      <fj-content-switcher [options]="[{label: 'Admin', value: 'admin'}, {label: 'Editor', value: 'editor'}, {label: 'User', value: 'user'}]"></fj-content-switcher>
    </ng-template>
  </fj-table-custom-column>
  <fj-table-custom-column name="Custom" index="4" flex="1">
    <ng-template fj-table-header-template>
      <p>Actions</p>
    </ng-template>
    <ng-template let-row="row" fj-table-cell-template>
      <fj-native-dropdown
        size="small"
        [options]="[{label: '•••', value: '•••'}, {label: 'Change Password', value: 'changePassword'}, {label: 'Deactivate', value: 'deactivate'}, {label: 'Delete', value: 'delete'}]"
        [showDefaultOnClick]="true"
        [customStyles]="{'marginTop': '0px', 'borderColor': 'rgba(27, 81, 160, 1)', 'color': 'rgba(27, 81, 160, 1)','backgroundColor': 'white','width' : '40px', 'padding': '0 0px 0 10px'}"
      >
      </fj-native-dropdown>
    </ng-template>
  </fj-table-custom-column>
</fj-table>
