@import "../../../../src/styles";

.form {
  &__card {
    &__content{
      width: 100%;
    }
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  &__field {
    width: calc(50% - 30px);
    margin-bottom: rem-calc(15);
    margin: rem-calc(0 15 15 15);
  }
  &__submit {
    width: 100%;
    margin-left: rem-calc(15);
  }
}

.fj-card {
  background-color: transparent;
}

.spinner {
  margin: rem-calc(30) auto;
}

