@import "../../../styles";

.form {
  &__card {
    &__content{
      width: 100%;
    }
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  &__field {
    flex:1;
    min-width: rem-calc(140);
    margin-bottom: rem-calc(15);
    margin-right: rem-calc(15);
  }
}

.fj-card {
  background-color: transparent;
}

.spinner {
  margin: rem-calc(30) auto;
}

