@import "../../../../../../src/styles";

.crud-details {
  &__card {
    display: flex;
    border: 1px solid lightgrey;
    margin: rem-calc(30 0);
    max-width: rem-calc(625);
    &__content{
      width: 100%;
    }
  }
  &__form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__field {
      flex: 47%;
      margin-bottom: rem-calc(15);
      margin-right: rem-calc(15);
    }
    &__submit {
      width: 100%
    }
  }
}

.spinner {
  margin: rem-calc(30) auto;
}

