/* You can add global styles to this file, and also import other style files */
@import "styles/global";
@import "styles/theme";

$main-color: #0c5593;
$danger-color: #DD0000;

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; background-color: $background-secondary-color;}

.main-button {
  background-color: $main-color !important;
  color: white;
  &:disabled {
    color: white !important;
  }
}

.cancel-button {
  background-color: $danger-color !important;
  color: white;
  &:disabled {
    opacity: 0.5;
  }
}

.form-control {
  margin-right: 20px !important;
}

.mat-tab-header {
  margin-bottom: 30px;
}

.card {
  margin: 1rem 0;
}

// override material form styles
.mat-form-field-infix {
  min-width: 300px !important;
  width: 100% !important;
}
