/* You can add global styles to this file, and also import other style files */
@import "styles/global";
@import "styles/theme";
@import "../projects/midgard-angular/node_modules/freyja-ui/theming";

$main-color: #1b51a0;
$danger-color: #DD0000;

html, body { height: 100%; }
body { margin: 0; font-family: OpenSans, sans-serif; background-color: $background-secondary-color;}

.main-button {
  background-color: $main-color !important;
  color: white;
  &:disabled {
    color: white !important;
  }
}

.cancel-button {
  background-color: $danger-color !important;
  color: white;
  &:disabled {
    opacity: 0.5;
  }
}

.form-control {
  margin-right: 20px !important;
}

.mat-tab-header {
  margin-bottom: 30px;
}

.card {
  margin: 1rem 0;
}

// override material form styles
.mat-form-field-infix {
  min-width: 300px !important;
  width: 100% !important;
}
$theme-colors: (
  'color-primary': $main-color,
);

$haf: "&:hover, &:active, &:focus";
@include freyja-theme($theme-colors);

