/* You can add global styles to this file, and also import other style files */
@import "styles/global";
@import "../node_modules/freyja-ui/theming";

html, body { height: 100%; }
body { margin: 0; font-family: OpenSans, sans-serif; background-color: $background-secondary-color;}

$theme-colors: (
  'color-primary': $primary-color,
  'color-primary-hover-bright':$primary-color-lighter,
  'color-danger' : $danger-color,
  'background': $background-primary-color,
  'background-lvl2': $background-secondary-color,
);

$haf: "&:hover, &:active, &:focus";
@include freyja-theme($theme-colors);

